@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



:root {
  --primary-color: #302AE6;
  --secondary-color: white;
  --font-color: #808080;
  --bg-color: #fffffb;
  --list-color: brown;
  --selection: #ffbf0017;
  --link-color: hsl(227.5,82.8%,77.3%);
  --hover-color: hsl(248deg 94% 73%);
  --progress:black;
  --mode: #343366;
  --sh: 1px solid #dcd5bd;
  --f: 'Karla', 'PT Serif', serif;
  --bg:no-repeat 20vw 30vh url(b1.svg), no-repeat right 15vw bottom 30vh url(b2.svg), no-repeat 45vw 30vh / 35vw url(b3.svg);

}

[data-theme="dark"] {
  --primary-color: #302AE6;
  --secondary-color: #3b3e46;
  --font-color: #898caf;
  --bg-color: #2f3238;
  --list-color: #ffe206;
  --selection: #ffbf0017;
  --link-color: hsl(56deg 59% 70%);
  --hover-color: hsl(56deg 100% 51%);
  --content-color: white;
  --progress:white;
  --mode: #fbfbfb;
  --sh: 1pt solid #4e4e4e;
  --bg: none;
}

:focus {
  outline: none;
}

body {
    background: var(--bg);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    background-attachment: fixed;
	
}

::selection {
  background: var(--selection);
}



a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

li {
  list-style: circle;
  color: var(--list-color);
}

.main {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    color: var(--content-color);
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.b:before {
    content: "";
    background: url(/ava.jpeg?) no-repeat;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    display: block;
    top: -2.5em;
    position: relative;
    float: right;
    left: 0em;
    border: var(--sh);
    border-width: 2pt;
}

.main .b {
  border: var(--sh);
  padding: 1em;
  border-radius: 3pt;
  background: var(--secondary-color);
  font-family: var(--f);
  margin-top: 2em;
}

.side-menu svg {
  fill: var(--font-color);
  margin-right: 10px;
  flex-shrink: 0;
}

.side-menu a {
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
  color: var(--font-color);
  display: flex;
  align-items: center;
  font-size: 18px;
  white-space: nowrap;
  font-family: var(--f);
  margin-left: 1em;
}

.side-wrapper {
  height: 100%;
  max-width: 200px;
  width: auto;
  position: fixed;
}

.side-menu {
  padding: 20px;
}

.theme-switch svg {
  fill: var(--mode);
  float: right;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
}

.theme-switch input#checkbox {
  visibility: hidden;
}

@media (max-width: 1050px) {

  
  .side-menu {
    display:none;
  }
  
.main {
    margin-top: 2em;
}
}




/* Progress bar */

#progress-bar {
	--scrollAmount: 0%;
	
	background: var(--progress);
	width: var(--scrollAmount);
	height: 4px;
	position: fixed;
	top: 0;
}


/* mouse */

body #magicMouseCursor {
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none; }
  body #magicMouseCursor.cursor-square {
    border-radius: 0; }

body #magicPointer {
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s; }
  body #magicPointer.is-hover {
    background: red; }
  body #magicPointer.pointer-blur {
    height: 50px;
    width: 50px;
    background: none;
    border: 1px solid #fff;
    box-shadow: 0px 0px 15px -5px white; }
  body #magicPointer.pointer-overlay {
    height: 50px;
    width: 50px;
    mix-blend-mode: difference;
    box-shadow: 0px 0px 15px -5px white; }

body .magic-hover {
  transition: all 0.2s; }
  body .magic-hover:hover {
    cursor: none; }
