@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



:root {
  --primary-color: #302AE6;
  --secondary-color: white;
  --font-color: #808080;
  --bg-color: #fffffb;
  --list-color: brown;
  --selection: #ffbf0017;
  --link-color: hsl(227.5,82.8%,77.3%);
  --hover-color: hsl(248deg 94% 73%);
  --progress:black;
  --mode: #343366;
  --sh: 1px solid #dcd5bd;
  --f: 'Karla', 'PT Serif', serif;

}

[data-theme="dark"] {
  --primary-color: #302AE6;
  --secondary-color: #3b3e46;
  --font-color: #898caf;
  --bg-color: #2f3238;
  --list-color: #ffe206;
  --selection: #ffbf0017;
  --link-color: hsl(56deg 59% 70%);
  --hover-color: hsl(56deg 100% 51%);
  --content-color: white;
  --progress:white;
  --mode: #fbfbfb;
  --sh: 1pt solid #4e4e4e;
}

:focus {
  outline: none;
}

body {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--selection);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

li {
  list-style: circle;
  color: var(--list-color);
}

.main {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    color: var(--content-color);
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.main .b {
  border: var(--sh);
  padding: 1em;
  border-radius: 3pt;
  background: var(--secondary-color);
  font-family: var(--f);
  margin-top: 2em;
}

.side-menu svg {
  fill: var(--font-color);
  margin-right: 10px;
  flex-shrink: 0;
}

.side-menu a {
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
  color: var(--font-color);
  display: flex;
  align-items: center;
  font-size: 18px;
  white-space: nowrap;
  font-family: var(--f);
  margin-left: 1em;
}

.side-wrapper {
  height: 100%;
  max-width: 200px;
  width: auto;
  position: fixed;
}

.side-menu {
  padding: 20px;
}

.theme-switch svg {
  fill: var(--mode);
  float: right;
  position: relative;
  right: 20px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
}

.theme-switch input#checkbox {
  visibility: hidden;
}

@media (max-width: 1050px) {

  
  .side-menu {
    display:none;
  }
  
.main {
    margin-top: 2em;
}
}




/* Progress bar */

#progress-bar {
	--scrollAmount: 0%;
	
	background: var(--progress);
	width: var(--scrollAmount);
	height: 4px;
	position: fixed;
	top: 0;
}

